* {
    box-sizing: border-box;
  }
.todo-header{
    background-color: rgb(70, 150, 229);
    height: 300px;
    color: white;
    
    font-size: 25px;
 
}
.tape-task{
    font-size: 20px ;
    color:rgb(70, 150, 229); ;
    max-width:  100%;
    padding: 10px;
    width: 80%;
    border-radius:10px ;
  
}
.btn{
    margin-top: 20px;
    background-color:  rgb(70, 150, 229);
    color: white;
    height: 40px;
    width: 80px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid rgb(70, 229, 207) ;
    float: right;
    margin-right: 60px;
}
input.tape-task {
    float: right;
    margin-right: 60px;
    width: 90%;
}
.to-left {
    float: right;
    margin-right: 60px;
}
h5 {
    padding-left: 100px;
   
}
p{
    text-align: center;
    color: grey;
    font-size:30px ;
}
ul{
    list-style: none;
}
li{
    color: grey;
    font-size:25px ;
    margin-left: 20px;
    
}
button{
    border-radius: 5px;
    font-size: 18px;
    margin: 10px;
    color: grey;
}
 

